@model QLBH.Models.CartItem

@{
    ViewBag.Title = "OrderDetailList";
}

<h2>OrderDetailList</h2>
<h3>Đặt hàng thành công</h3>


<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
